body{
    margin: 0px;
}

#website-name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #website-name span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
  }
  #website-name small{
    color: yellow;
  }

.color-div{
  display: flex;
  margin: 10px 10px 10px 10px;
  align-items: center;
  flex-direction: column;
}

  #radio-btn{
    margin: 10px auto;
    width: 500px;
    display: flex;
    justify-content: center;
     
  }
.daily-color{
  text-align: center;
  width:200px;
  height: 200px;
}
  @media screen and (max-width: 500px) {
    #radio-btn{
      width: 300px;
    }
  }