body{
    margin: 0px;
    background-color:#F9F9F9 ;
}

#website-name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #website-name span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
  }
  #website-name small{
    color: yellow;
  }

.color-div{
  display: flex;
  margin: 10px 10px 10px 10px;
  align-items: center;
  flex-direction: column;
}

  #radio-btn{
    margin: 10px auto;
    width: 500px;
    display: flex;
    justify-content: center;
     
  }

  .nav-more-colors{
    padding-right: 10px;
      cursor: pointer;
  }
  .nav-more-colors:hover{
    color: pink;
    text-decoration: underline;
  }

.daily-color{
  margin: 10px 10px 10px 10px;
  width:200px;
  height: 200px;
  border-radius: 5px;
}
.color-list{
  margin: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  gap:10px
}
.color-title-div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
  @media screen and (max-width: 500px) {
    #radio-btn{
      width: 300px;
    }
    .nav-more-colors{
      text-align: center;
      transform: scale(70%);
      padding-right: 0px;
        cursor: pointer;
    }
  }